<!DOCTYPE html>
<html>

<head>
	<title>RETAILDASH_HOMEPAGE</title>
	<link rel="stylesheet" type="text/css" href="/css/add_data_conf.css">
</head>

<body>
    <%- include('./layout/header.ejs') %>

    <div class = "data_added_conf_content">
        <div class = "conf_logo">
            <img src = "/assets/confirmation.png" alt = "data_conf_logo" height=150px>
        </div>
        <div class = "conf_text">
           Data is successfully added!
        </div>
    </div>
</body>
</html>