<!DOCTYPE html>
<html>

<head>
	<title>RETAILDASH_BAR_CHART</title>
    <link rel="stylesheet" type="text/css" href="/css/bar_chart.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <%- include('./layout/header.ejs') %>
    <main>
        <section>
            <h2>Bar Chart</h2>
			<div class="inputvar">
				<label for="variable">Variable:</label>
				<select id="kategori" name="kategori">
                    <% for (let i=0; i<data.length; i++) { %>
					<option value="<%= data[i].Field %>"><%= data[i].Field %></option>
					<% } %>
				</select>
				<a href="/bar_chart" id="tampilkanButton">Tampilkan</a>
			</div>
            <div id="graphs">
                <div id="graph">
                    <canvas id="chart1"></canvas>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
