<!DOCTYPE html>
<html>

<head>
	<title>RETAILDASH_SEE_REPORT</title>
	<link rel="stylesheet" type="text/css" href="/css/see_report.css">
</head>

<body>
    <%- include('./layout/header.ejs') %>
	<main>
        <section>
            <h2>Data Summary </h2>
			<div class="dropdown-section">
				<label for="kategori">Kelompok:</label>
				<select id="kategori" name="kategori">
					
					<option value="kategori1">Education</option>
					<option value="kategori2">Marital Status</option>
					
				</select>

			

				<label for="agregat">Agregat:</label>
				<select id="agregat" name="agregat">
					
					<option value="agregat1">Jumlah</option>
					<option value="agregat2">Average</option>
					<option value="agregat2">Count</option>
					
				</select>
				<label for="kolom">Kolom:</label>
				<select id="kolom" name="kolom">
					
					<option value="kolom1">Fish</option>
					<option value="kolom2">Meat</option>
					
				</select>
				<button id="searchButton">Search</button>
			</div>
            <h3>Education</h3>
            <div class="summary-container-wrapper">
                <div class="summary-container">
					
                <table>
                    <tr>
                        <div id="judul">Graduation</div>
                    </tr>
                   
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    
                </table>
            </div>

            <div class="summary-container">
                
                <table>
                    <tr>
                        <div id="judul">Master</div>
                    </tr>
                    
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                    
                </table>
            </div>
            <div class="summary-container">
                <table>
                    <tr>
                        <div id="judul">PHD</div>
                    </tr>
                   
                    <tr>
                        <th>Fish Product</th>
                        <td>113</td>
                    </tr>
                   
                </table>
            </div>
            </div>
        </div>
            
            
                
        </div>
        </div>
        </section>
    </main> 
</body>
</html>
