body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

main {
    padding: 20px;
}

.inputvar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.inputvar label {
    margin-right: 10px;
    font-weight: bold;
}

.inputvar select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px;
    width: 250px;
}

#tampilkanButton:hover {
    background-color: #0056b3;
}

#tampilkanButton {
    padding: 7px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

#graphs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}

#graph{
    height: 450px;
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back, #forward {  
    font-size: 40px;
    color: #a48df0;
    margin: 10px;
}