<!DOCTYPE html>
<html>

<head>
	<title>RETAILDASH_HEADER</title>
	<link rel="stylesheet" type="text/css" href="/css/header.css">
</head>

<body>
    <div class = "header_layout">
        <div class = "logo_header">
            <a href = "/"><img src = "/assets/header.png" alt = "retaildash_logo" height=100px></a>
        </div>
        
        <div class = "header_navigator">
            <a href="/">Home</a>
            <a href="/add_data">Add Data</a>
            <a href="/see_report">See Report</a>
            <a href="/bar_chart">Bar Chart</a>
            <a href="/scatter_plot">Scatter Plot</a>
        </div>
    </div>
</body>
</html>

